{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<div class="container">


		<h1>Bienvenue sur le projet utilisateurs</h1>
		{% if is_granted('ROLE_USER') %}
			<a href=" {{ path('app_logout') }} ">Se déconnecter</a>
		{% else %}
			<a href=" {{ path('register') }} ">S'inscrire</a>
			<a href=" {{ path('app_login') }} ">Se connecter</a>
		{% endif %}
		<p>Voici la liste des articles :
		</p>
		{% for article in list_twig %}
			Article =
			{{ article.title }}
			-
			<a href="{{ path ('app_blog_article', {'id': article.id}) }}">lien</a>
			<br>


		{% endfor %}
	</div>

{% endblock %}
